h1 {
	color:white;
	font-size: 104px;
	margin-top: 355px;
}

body {
	background-color: black;
	margin: 0 auto;
	font-family: helvetica;
	color: white;
}

#navcont {
	background-color: transparent;;
    height: 128px;
    width: 133px;
    display: block;
    margin-left: 9px;
    position: fixed;
    left: 35px;
    bottom: 35px;
}

.navbox {
    width: 110px;
    height: 30px;
    margin-bottom: 10px;
    background-color: #c2c7ff;
    position: relative;
    display: block;
    bottom: -8px;
    left: 12px;
}
.navbox1 {
   	width: 110px;
    height: 30px;
    margin-bottom: 10px;
    background-color: #c2c7ff;
    position: relative;
    display: block;
    bottom: -9px;
    left: 12px;
}
.navbox2 {
    width: 110px;
    height: 30px;
    margin-bottom: 10px;
    background-color: #c2c7ff;
    position: relative;
    display: block;
    bottom: -11px;
    left: 12px;
}

.bar {
	width: 150px;
    height: 730px;
    margin-bottom: 10px;
    background-color: #c2c7ff;
    position: relative;
    display: block;
    bottom: -11px;
    left: 512px;
}


